sample/flow.json
[{"id":"633afe25.12b45","type":"tab","label":"Bin Packing","disabled":false,"info":""},{"id":"ec236138.35eff","type":"function","z":"633afe25.12b45","name":"create payload","func":"msg.packages = [\n  {\n    name: 'bh',\n    width: 50,\n    height: 60,\n    length: 70,\n    weight: 28,\n    quantity: 10\n  },\n  {\n    name: 'hicham',\n    width: 40,\n    height: 30,\n    length: 80,\n    weight: 48,\n    quantity: 5\n  },  \n  {\n    name: 'vincent',\n    width: 25,\n    height: 50,\n    length: 60,\n    weight: 20,\n    quantity: 8\n  }\n]\n\nmsg.bins = [\n  {\n    name: 'break',\n    width: 100,\n    height: 100,\n    length: 120,\n    weight: 400\n  },\n  {\n    name: 'frg1',\n    width: 120,\n    height: 120,\n    length: 240,\n    weight: 800\n  },  \n  {\n    name: 'frg2',\n    width: 120,\n    height: 150,\n    length: 320,\n    weight: 1200\n  },\n  {\n    name: 'frg3',\n    width: 120,\n    height: 150,\n    length: 420,\n    weight: 1200\n  }, \n  {\n    name: 'frg4',\n    width: 200,\n    height: 200,\n    length: 200,\n    weight: 1000\n  },\n  {\n    name: 'pl5',\n    width: 240,\n    height: 270,\n    length: 600,\n    weight: 3000\n  },\n  {\n    name: 'pl7',\n    width: 240,\n    height: 270,\n    length: 750,\n    weight: 7500\n  },\n  {\n    name: 'semi',\n    width: 240,\n    height: 270,\n    length: 1360,\n    weight: 24000\n  }  \n]\n\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":520,"wires":[["1308aead.1494c1"]]},{"id":"202695be.fa246a","type":"inject","z":"633afe25.12b45","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":360,"y":520,"wires":[["ec236138.35eff"]]},{"id":"614bc859.da0528","type":"http response","z":"633afe25.12b45","name":"response","statusCode":"200","headers":{},"x":1280,"y":240,"wires":[]},{"id":"8cb9c83c.5e78c8","type":"http in","z":"633afe25.12b45","name":"[get] test","url":"/test","method":"get","upload":false,"swaggerDoc":"","x":340,"y":380,"wires":[["ec236138.35eff"]]},{"id":"b07390bb.53587","type":"switch","z":"633afe25.12b45","name":"","property":"res","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1070,"y":240,"wires":[["614bc859.da0528"]]},{"id":"cc7ef9e1.9cff58","type":"http in","z":"633afe25.12b45","name":"[post] binpacking","url":"/binpacking","method":"post","upload":false,"swaggerDoc":"","x":340,"y":120,"wires":[["76cbbf02.dea36"]]},{"id":"3b9f8a8f.ea1c36","type":"debug","z":"633afe25.12b45","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1090,"y":320,"wires":[]},{"id":"76cbbf02.dea36","type":"change","z":"633afe25.12b45","name":"","rules":[{"t":"set","p":"packages","pt":"msg","to":"payload.packages","tot":"msg"},{"t":"set","p":"bins","pt":"msg","to":"payload.bins","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":120,"wires":[["1308aead.1494c1"]]},{"id":"4020c01b.a9858","type":"comment","z":"633afe25.12b45","name":"Curl Example","info":"curl -X POST http://localhost:1880/binpacking -H 'Content-type: application/json' -d '{ \"packages\": [ { \"name\": \"bh\", \"width\": 50, \"height\": 60, \"length\": 70, \"weight\": 28, \"quantity\": 3 } ], \"bins\": [ { \"name\": \"break\", \"width\": 100, \"height\": 100, \"length\": 120, \"weight\": 400 } ] }'","x":330,"y":60,"wires":[]},{"id":"1308aead.1494c1","type":"binpacking","z":"633afe25.12b45","name":"BinPacking","x":810,"y":300,"wires":[["b07390bb.53587","3b9f8a8f.ea1c36"]]}]
