sample/flow.json
[{"id":"e30d927b.d44e8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"c4973514.5a2578","type":"binpacking","z":"e30d927b.d44e8","name":"BinPacking","x":810,"y":300,"wires":[["44b4d3b3.b496fc","dce937ec.27eaf8"]]},{"id":"730fd447.a1f34c","type":"function","z":"e30d927b.d44e8","name":"create payload","func":"msg.packages = [\n  {\n    name: 'bh',\n    width: 50,\n    height: 60,\n    length: 70,\n    weight: 28,\n    quantity: 10\n  },\n  {\n    name: 'hicham',\n    width: 40,\n    height: 300,\n    length: 80,\n    weight: 48,\n    quantity: 5\n  },  \n  {\n    name: 'vincent',\n    width: 25,\n    height: 50,\n    length: 60,\n    weight: 20,\n    quantity: 8\n  }\n]\n\nmsg.bins = [\n  {\n    name: 'break',\n    width: 100,\n    height: 100,\n    length: 120,\n    weight: 400\n  },\n  {\n    name: 'frg1',\n    width: 120,\n    height: 120,\n    length: 240,\n    weight: 800\n  },  \n  {\n    name: 'frg2',\n    width: 120,\n    height: 150,\n    length: 320,\n    weight: 1200\n  },\n  {\n    name: 'frg3',\n    width: 120,\n    height: 150,\n    length: 420,\n    weight: 1200\n  }, \n  {\n    name: 'frg4',\n    width: 200,\n    height: 200,\n    length: 200,\n    weight: 1000\n  },\n  {\n    name: 'pl5',\n    width: 240,\n    height: 270,\n    length: 600,\n    weight: 3000\n  },\n  {\n    name: 'pl7',\n    width: 240,\n    height: 270,\n    length: 750,\n    weight: 7500\n  },\n  {\n    name: 'semi',\n    width: 240,\n    height: 270,\n    length: 1360,\n    weight: 24000\n  }  \n]\n\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":520,"wires":[["c4973514.5a2578"]]},{"id":"345999ad.d52146","type":"inject","z":"e30d927b.d44e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":360,"y":520,"wires":[["730fd447.a1f34c"]]},{"id":"498a7204.38335c","type":"http response","z":"e30d927b.d44e8","name":"response","statusCode":"200","headers":{},"x":1280,"y":240,"wires":[]},{"id":"91972cd5.ee4bd","type":"http in","z":"e30d927b.d44e8","name":"[get] test","url":"/test","method":"get","upload":false,"swaggerDoc":"","x":340,"y":380,"wires":[["730fd447.a1f34c"]]},{"id":"44b4d3b3.b496fc","type":"switch","z":"e30d927b.d44e8","name":"","property":"res","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1070,"y":240,"wires":[["498a7204.38335c"]]},{"id":"bff1b3b7.6d7b2","type":"http in","z":"e30d927b.d44e8","name":"[post] binpacking","url":"/binpacking","method":"post","upload":false,"swaggerDoc":"","x":340,"y":120,"wires":[["31f7c71c.e668c8"]]},{"id":"dce937ec.27eaf8","type":"debug","z":"e30d927b.d44e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1090,"y":320,"wires":[]},{"id":"31f7c71c.e668c8","type":"change","z":"e30d927b.d44e8","name":"","rules":[{"t":"set","p":"packages","pt":"msg","to":"payload.packages","tot":"msg"},{"t":"set","p":"bins","pt":"msg","to":"payload.bins","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":120,"wires":[["c4973514.5a2578"]]},{"id":"3c7f9bdc.6f5404","type":"comment","z":"e30d927b.d44e8","name":"Curl Example","info":"curl -X POST http://localhost:1880/binpacking -H 'Content-type: application/json' -d '{ \"packages\": [ { \"name\": \"bh\", \"width\": 50, \"height\": 60, \"length\": 70, \"weight\": 28, \"quantity\": 3 } ], \"bins\": [ { \"name\": \"break\", \"width\": 100, \"height\": 100, \"length\": 120, \"weight\": 400 } ] }'","x":330,"y":60,"wires":[]}]
