sample/flow.json
[{"id":"21a01ce2.093d34","type":"tab","label":"BinPacking Test","disabled":false,"info":""},{"id":"a0d518d6.1e7c28","type":"ui_group","z":"","name":"BinPacking","tab":"38e2f63b.e04f3a","order":1,"disp":true,"width":"12","collapse":false},{"id":"38e2f63b.e04f3a","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"139f21e1.5f28de","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"48e958a5.71a7a8","type":"binpacking","z":"21a01ce2.093d34","name":"BinPacking","x":670,"y":300,"wires":[["d2f23292.45615","c2c13d08.29898"]]},{"id":"ec6f410a.5ff4b","type":"function","z":"21a01ce2.093d34","name":"create payload","func":"msg.packages = [\n  {\n    name: 'bh',\n    width: 40,\n    height: 60,\n    length: 80,\n    weight: 28,\n    quantity: 1,\n    allowedRotation: [0,3]\n  },\n  {\n    name: 'hicham',\n    width: 40,\n    height: 30,\n    length: 80,\n    weight: 48,\n    quantity: 5,\n    allowedRotation: [0,3]\n  },  \n  {\n    name: 'vincent',\n    width: 25,\n    height: 50,\n    length: 60,\n    weight: 20,\n    quantity: 8,\n    allowedRotation: [0,3]\n  },\n  {\n    name: 'rotation',\n    width: 320,\n    height: 150,\n    length: 120,\n    weight: 28,\n    quantity: 1,\n    allowedRotation: [0,3]\n  },\n]\n\nmsg.bins = [\n  {\n    name: 'break',\n    width: 100,\n    height: 100,\n    length: 120,\n    weight: 400\n  },\n  {\n    name: 'frg1',\n    width: 120,\n    height: 120,\n    length: 240,\n    weight: 800\n  },  \n  {\n    name: 'frg2',\n    width: 120,\n    height: 150,\n    length: 320,\n    weight: 1200\n  },\n  {\n    name: 'frg3',\n    width: 120,\n    height: 150,\n    length: 420,\n    weight: 1200\n  }, \n  {\n    name: 'frg4',\n    width: 200,\n    height: 200,\n    length: 200,\n    weight: 1000\n  },\n  {\n    name: 'pl5',\n    width: 240,\n    height: 270,\n    length: 600,\n    weight: 3000\n  },\n  {\n    name: 'pl7',\n    width: 240,\n    height: 270,\n    length: 750,\n    weight: 7500\n  },\n  {\n    name: 'semi',\n    width: 240,\n    height: 270,\n    length: 1360,\n    weight: 24000\n  }  \n]\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":280,"wires":[["48e958a5.71a7a8"]]},{"id":"3b1def3f.fc2be","type":"inject","z":"21a01ce2.093d34","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":360,"wires":[["ec6f410a.5ff4b"]]},{"id":"366c0dc3.072472","type":"http response","z":"21a01ce2.093d34","name":"response","statusCode":"200","headers":{},"x":1280,"y":240,"wires":[]},{"id":"ad925b42.19ebb8","type":"http in","z":"21a01ce2.093d34","name":"[get] test","url":"/binpacking","method":"get","upload":false,"swaggerDoc":"","x":140,"y":260,"wires":[["ec6f410a.5ff4b"]]},{"id":"d2f23292.45615","type":"switch","z":"21a01ce2.093d34","name":"","property":"res","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1070,"y":240,"wires":[["366c0dc3.072472"]]},{"id":"f2e3531b.13274","type":"http in","z":"21a01ce2.093d34","name":"[post] binpacking","url":"/binpacking","method":"post","upload":false,"swaggerDoc":"","x":340,"y":120,"wires":[["2806d811.074c78"]]},{"id":"2806d811.074c78","type":"change","z":"21a01ce2.093d34","name":"","rules":[{"t":"set","p":"packages","pt":"msg","to":"payload.packages","tot":"msg"},{"t":"set","p":"bins","pt":"msg","to":"payload.bins","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":120,"wires":[["48e958a5.71a7a8"]]},{"id":"69cfcd66.ea8654","type":"comment","z":"21a01ce2.093d34","name":"Curl Example","info":"curl -X POST http://localhost:1880/binpacking -H 'Content-type: application/json' -d '{ \"packages\": [ { \"name\": \"bh\", \"width\": 50, \"height\": 60, \"length\": 70, \"weight\": 28, \"quantity\": 3 } ], \"bins\": [ { \"name\": \"break\", \"width\": 100, \"height\": 100, \"length\": 120, \"weight\": 400 } ] }'","x":130,"y":220,"wires":[]},{"id":"1dfc6cb9.4cb5f3","type":"json","z":"21a01ce2.093d34","name":"","property":"payload","action":"str","pretty":true,"x":1030,"y":460,"wires":[["5ccb5452.94d3cc"]]},{"id":"5ccb5452.94d3cc","type":"function","z":"21a01ce2.093d34","name":"Convert HTML","func":"msg.payload = msg.payload.replace(/\\n/g, \"<br />\");\nreturn msg;","outputs":1,"noerr":0,"x":1260,"y":460,"wires":[["98e06457.7305d8"]]},{"id":"c2c13d08.29898","type":"function","z":"21a01ce2.093d34","name":"Output JSON","func":"for (var i in msg.payload.result) {\n    if (msg.payload.result[i].bin) {\n        msg.payload.result[i].name = msg.payload.result[i].bin.name\n        msg.payload.result[i].rotationType = 0\n        for (var j in msg.payload.result[i].bin.items)\n            msg.payload.result[i].rotationType += msg.payload.result[i].bin.items[j].rotationType\n        delete  msg.payload.result[i].bin\n    }\n    if (msg.rotate === false && msg.payload.result[i].rotationType > 0) msg.payload.result[i].succes = false\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":460,"wires":[["1dfc6cb9.4cb5f3","81e0f1cb.f54ec"]]},{"id":"71a4f3df.ec067c","type":"change","z":"21a01ce2.093d34","name":"","rules":[{"t":"set","p":"bins","pt":"msg","to":"payload.bins","tot":"msg"},{"t":"set","p":"packages","pt":"msg","to":"payload.packages","tot":"msg"},{"t":"set","p":"rotate","pt":"msg","to":"payload.rotate","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":420,"wires":[["48e958a5.71a7a8"]]},{"id":"98e06457.7305d8","type":"ui_toast","z":"21a01ce2.093d34","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"OK","cancel":"","raw":true,"topic":"","name":"","x":1330,"y":340,"wires":[[]]},{"id":"e73c0a1d.0a9618","type":"ui_template","z":"21a01ce2.093d34","group":"a0d518d6.1e7c28","name":"HTML","order":0,"width":"12","height":"12","format":"<script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js\">\n</script>\n<div align=\"right\"><input type=\"checkbox\" id=\"rotate\" value=\"false\"> Rotate Package\n</div>\n<h1>Vehicles</h1>\n<div class=\"containerV\" >\n <div class='elementV' id='divV_0'>\n  <input type='text' placeholder='name' id='vehiclename_0' size=5 value=\"break\">&nbsp;\n  <input type='text' placeholder='width' id='vehiclewidth_0' size=3 value=100>&nbsp;\n  <input type='text' placeholder='height' id='vehicleheight_0' size=3 value=100>&nbsp;\n  <input type='text' placeholder='length' id='vehiclelength_0' size=3 value=120>&nbsp;\n  <input type='text' placeholder='weight' id='vehicleweight_0' size=3 value=400>&nbsp;<span class='addV'>+</span>\n </div>\n</div>\n<br><hr><br>\n<h1>Packages</h1>\n<div class=\"containerP\" >\n <div class='elementP' id='divP_0'>\n  <input type='text' placeholder='name' id='packagename_0' size=5 value=\"box\">&nbsp;\n  <input type='text' placeholder='width' id='packagewidth_0' size=3 value=50>&nbsp;\n  <input type='text' placeholder='height' id='packageheight_0' size=3 value=50>&nbsp;\n  <input type='text' placeholder='length' id='packagelength_0' size=3 value=50>&nbsp;\n  <input type='text' placeholder='weight' id='packageweight_0' size=3 value=1>&nbsp;\n  <input type='text' placeholder='quantity' id='packagequantity_0' size=3 value=1>&nbsp;<span class='addP'>+</span>\n </div>\n</div>\n<br><hr><br>\n<script>\n var value=[];\n var nextindexV = 0;\n var nextindexP = 0;\n this.scope.action = function() {\n     value[\"bins\"] = []\n     value[\"packages\"] = []\n     for (let i=0; i<=nextindexV; i++) {\n         value[\"bins\"][i] = {};\n         value[\"bins\"][i].name = $(\"#vehiclename_\" + i).val();\n         value[\"bins\"][i].width = parseInt($(\"#vehiclewidth_\" + i).val());\n         value[\"bins\"][i].height = parseInt($(\"#vehicleheight_\" + i).val());\n         value[\"bins\"][i][\"length\"] = parseInt($(\"#vehiclelength_\" + i).val());\n         value[\"bins\"][i].weight = parseInt($(\"#vehicleweight_\" + i).val());\n     }\n    for (let i=0; i<=nextindexP; i++) {\n         value[\"packages\"][i] = {}\n         value[\"packages\"][i].name = $(\"#packagename_\" + i).val();\n         value[\"packages\"][i].width = parseInt($(\"#packagewidth_\" + i).val());\n         value[\"packages\"][i].height = parseInt($(\"#packageheight_\" + i).val());\n         value[\"packages\"][i][\"length\"] = parseInt($(\"#packagelength_\" + i).val());\n         value[\"packages\"][i].weight = parseInt($(\"#packageweight_\" + i).val());\n         value[\"packages\"][i].quantity = parseInt($(\"#packagequantity_\" + i).val());\n     }\n          console.log(value);\n\n     return { bins: value[\"bins\"], packages: value[\"packages\"], rotate: $(\"#rotate\").prop(\"checked\") }; \n }\n$(document).ready(function(){\n $(\".addV\").click(function(){\n  var total_elementV = $(\".elementV\").length;\n  var lastidV = $(\".elementV:last\").attr(\"id\");\n  var split_idV = lastidV.split(\"_\");\n  nextindexV = Number(split_idV[1]) + 1;\n  var maxV = 5;\n  if(total_elementV < maxV ){\n   $(\".elementV:last\").after(\"<div class='elementV' id='divV_\"+ nextindexV +\"'></div>\");\n   $(\"#divV_\" + nextindexV).append(\"<br><input type='text' placeholder='name' id='vehiclename_\"+ nextindexV +\"' size=5>&nbsp;\\\n    <input type='text' placeholder='width' id='vehiclewidth_\"+ nextindexV +\"' size=3 >&nbsp;\\\n    <input type='text' placeholder='height' id='vehicleheight_\"+ nextindexV +\"' size=3 >&nbsp;\\\n    <input type='text' placeholder='length' id='vehiclelength_\"+ nextindexV +\"' size=3 >&nbsp;\\\n    <input type='text' placeholder='weight' id='vehicleweight_\"+ nextindexV +\"' size=3 >&nbsp;\\\n    <span id='remove_\" + nextindexV + \"' class='remove'>X</span>\");\n  }\n });\n $('.containerV').on('click','.remove',function(){\n  var idV = this.id;\n  var split_idV = idV.split(\"_\");\n  var deleteindexV = split_idV[1];\n  $(\"#divV_\" + deleteindexV).remove();\n }); \n\n $(\".addP\").click(function(){\n  var total_elementP = $(\".elementP\").length;\n  var lastidP = $(\".elementP:last\").attr(\"id\");\n  var split_idP = lastidP.split(\"_\");\n  nextindexP = Number(split_idP[1]) + 1;\n  var maxP = 5;\n  if(total_elementP < maxP ){\n   $(\".elementP:last\").after(\"<div class='elementP' id='divP_\"+ nextindexP +\"'></div>\");\n   $(\"#divP_\" + nextindexP).append(\"<br><input type='text' placeholder='name' id='packagename_\"+ nextindexP +\"' size=5 >&nbsp;\\\n     <input type='text' placeholder='width' id='packagewidth_\"+ nextindexP +\"' size=3 >&nbsp;\\\n     <input type='text' placeholder='height' id='packageheight_\"+ nextindexP +\"' size=3 >&nbsp;\\\n     <input type='text' placeholder='length' id='packagelength_\"+ nextindexP +\"' size=3 >&nbsp;\\\n     <input type='text' placeholder='weight' id='packageweight_\"+ nextindexP +\"' size=3 >&nbsp;\\\n     <input type='text' placeholder='quantity' id='packagequantity_\"+ nextindexP +\"' size=3 >&nbsp;\\\n     <span id='remove_\" + nextindexP + \"' class='remove'>X</span>\");\n  }\n });\n$('.containerP').on('click','.remove',function(){\n  var idP = this.id;\n  var split_idP = idP.split(\"_\");\n  var deleteindexP = split_idP[1];\n  $(\"#divP_\" + deleteindexP).remove();\n }); \n \n});\n</script>\n<md-button ng-click=\"send({payload:action()})\">GO</md-button>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":170,"y":560,"wires":[["71a4f3df.ec067c"]]},{"id":"8b59ede9.801ef","type":"comment","z":"21a01ce2.093d34","name":"UI BinPacking","info":"","x":130,"y":500,"wires":[]},{"id":"4a6f404c.cab41","type":"comment","z":"21a01ce2.093d34","name":"Curl BinPacking","info":"curl -X POST https://binpacking.yoctu.com/api -H 'Content-type: application/json' -d '{ \"packages\": [ { \"name\": \"bh\", \"width\": 50, \"height\": 60, \"length\": 70, \"weight\": 28, \"quantity\": 3 } ], \"bins\": [ { \"name\": \"break\", \"width\": 100, \"height\": 100, \"length\": 120, \"weight\": 400 } ] }'","x":340,"y":60,"wires":[]},{"id":"81e0f1cb.f54ec","type":"debug","z":"21a01ce2.093d34","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1020,"y":540,"wires":[]}]